# Build output
bin/
obj/

# .NET
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.vs/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment / secrets
appsettings.*.json
!appsettings.json
!appsettings.Development.json